
body {
  font-family: Space Grotesk;

}



.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(185, 255, 102, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  } 
.btn1{
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
}
.hero{
    align-content: center;
}
.head-text{
    padding-bottom: 30px;
}
.left-p-text{
    font-size: 20px;
    padding-bottom: 30px;
}
.btn2{
background-color: #000;
color: #fff;
border-radius: 10px;
padding: 15px;}

.right-img{
    padding-left: 30px;
}
.logos{
    padding: 100px 0px;
}
.service{
    padding-bottom: 80px;
}
.upper-text{
    
    display: flex;
    gap: 20px;
    padding: 40px 0px;
}
.serv-htxt{
   
    background-color: #b9ff66;
    border-radius: 7px;
    
}
.lowerwh-cont{
    border: 1px solid #000;
    padding: 20px;
    border-radius: 20px;
    gap: 30px;
    background-color: #F3F3F3;
    border-bottom: 4px solid #000 ;

    }
    .gr-text{
        background-color: #b9ff66;
    }

.lowergr-cont{
border: 1px solid #000;
padding: 20px;
border-radius: 20px;
gap: 30px;
background-color: #b9ff66;
border-bottom: 4px solid #000 ;
}

.lowerbl-cont{
    border: 1px solid #000;
padding: 20px;
border-radius: 20px;
gap: 30px;
background-color: #191a23;



}
.wh-text{
    background-color: #fff;
}
.learn-more-p{
    color: #fff;
}

.left-text{
    display: grid;
    gap: 40px;
}
.prosal{
    background-color:#b3aeae ;
    border-radius: 20px;
    padding: 30px;
}
.pro-head{
    padding: 40px 0px;
}
.pro-p{
    padding-bottom: 20px;
}
.btn3{
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 15px;}

    .prosal-img{
        position: absolute;
        top: -60px;
        left: 90px;
    }
    .case-text{
        display: flex;
        gap: 20px;
        padding-top: 140px;
        padding-bottom: 50px;
    }
    .case-htxt{
   
        background-color: #b9ff66;
        border-radius: 7px;
        
    }
    .case{
        background-color: #191a23;
        border-radius: 20px;
        padding: 30px;
    }
    .case-sec{
        border-right: 1px solid #818181;
        padding:20px
    }
    .case-secc{
        border-right: 1px solid #818181;
        padding: 20px;
    }
    .case-seccc{
        padding: 20px;
    }
    .case-p{
        color: #fff;
    }
    .gr-txt{
        color: #b9ff66;
    }
    .work-text{
        display: flex;
        gap: 20px;
        padding-top: 140px;
        padding-bottom: 50px;
    }
    .work-htxt{
        background-color: #b9ff66;
        border-radius: 7px;    
    }
    .work-sec{
        background-color: #b9ff66;
        border: 1px solid #000;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 4px solid #000;
    }
    .work-secc{
        
        border: 1px solid #000;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 4px solid #000;
    }
    .work-num{
        font-size: 35px;
        padding-right: 20px;
    }

    .accordion-item:first-of-type>.accordion-header .accordion-button
    {
        border: 1px solid #000;
        border-radius: 20px;
        border-bottom: 4px solid #000;
        padding:30px;
    
    }

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed{
    border: 1px solid #000;
    border-radius: 20px;
    border-bottom: 4px solid #000;
    padding: 30px;
}
.accordion-button{
    border: 1px solid #000;
    border-radius: 20px;
    border-bottom: 4px solid #000; 
    padding: 30px;
}
.accordion-button{
    box-shadow: none;
}
.accordion-button:not(.collapsed)
{
    border-radius: 20px;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    padding: 30px;
    border-bottom: 4px solid #000;
}
  .accordian{
    box-shadow: none;
  }  
  .accordion-button:hover {
    box-shadow: none;
  }
  .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    box-shadow: none;
  }
  .accordion-item:first-of-type>.accordion-header .accordion-button{
    box-shadow: none;
  }
  .accordion-button:not(.collapsed){
    box-shadow: none;
  }


    .accordion-button:not(.collapsed)::after {
        background-image: url(/assets/images/minus-icon.png);
    }
    .accordion-button::after {
        background-image: url(/assets/images/Plus-icon.png);}



        .team-text{
            display: flex;
            gap: 20px;
            padding-top: 140px;
            padding-bottom: 50px;
        }
        .team-htxt{
            background-color: #b9ff66;
            border-radius: 7px;    }

            

@media (min-width: 1200px) and (max-width:1440px) {
}


@media (min-width: 992px) and (max-width:1024px)  {
    .right-image{
        width: 80%;
    }
}


@media (min-width:768px) and (max-width:990px){
    .upper-text{
flex-direction: column;
    }
    .serv-htxt{
        width: 20%;
}
.right-image{
    width: 80%;
}
.prosal-img{
    display: none;}

    .case-sec{
        border-right: none;}
        .case-secc{
            border-right: none;}

}


@media only screen and (max-width: 600px) {
    .left-cont{
        padding-left: 30px;
    }
    .right-img{
        width: 100%;
        padding-top: 30px;
        padding-left: 0px;
    }
    .upper-text{
        flex-direction: column;
            }

            .upper-text p br{
                display: none;    
            }
            .serv-htxt{
                width: 30%;
        }
        .left-text{
            padding: 10px;
        }
        .right-image{
            width: 80%;
        }
        .prosal-img{
            display: none;}


            .case-sec{
                border-right: none;}
                .case-secc{
                    border-right: none;}
}